<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8">
  <link rel="stylesheet" href="../css/ad-post.css">
  <title></title>
</head>
<header>
  <nav>
    <a href="/">
      <span class="logo"> Tight Spot</span>
    </a>
    <ul id="navList">
      <li><a href="/about">About </a></li>
      <li><a href="/login">Log in</a><span> |</span></li>
      <li><a href="/signup">Sign up</a><span> |</span></li>

    </ul>
  </nav>
</header>

<body>
  <section id="postContainer">
    <section id="postContainer">
      <section id="detailsA">

        <h1><%= message.adTitle %></h1>
        <h4><%= message.zip %></h4>

        <p>
          <%= message.textArea %>
        </p>

      </section>

      <section id="detailsB">
        <h5><%= message.sqFeet %></h5>
        <h3><%= message.minimum %></h3>
        <h3><%= message.maximum %></h3>
        <h5><%= message.pets %></h5>
        <h4><%= message.family %></h4>
        <h2><a href="https://mail.google.com/mail/u/0/#inbox?compose=new" target="_blank"><%= message.email %></a></h2>

        <%= message.phone %>
          </>

      </section>

    </section>


  </section>
  </section>
</body>

</html>