<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8">
  <link rel="stylesheet" href="css/ad-post.css">
  <title></title>
</head>
<header>
  <nav>
    <form class="" action="index.html" method="post">
      <input class="locationSearch" type="text" placeholder="Search location" name="" value="">
      <button class="locationSearch" type="submit" name="button">Search</button>
    </form>
    <ul id="navList">
      <li><a class="about" href="#">About</a></li>
      <li><a class="report" href="#">Report |</a></li>
      <li><a class="contact" href="/">Log-Out |</a></li>
    </ul>
  </nav>
</header>

<body>
  <section id="postContainer">
    <section id="topSection">
      <button>reply</button>
      <a href="#">
        < prev</a>
          <a href="#"> next ></a>
          <a href="#">report</a>
    </section>
    <section id="postContainer">
      <section id="details">
        <% for(var i=0; i<message.length; i++) {%>
          <h1><%= message[i].adTitle %></h1>
          <h4><%= message[i].zip %></h4>
          <ul>
            <li>

              <span><%= message[i].sqFeet %></span>
              <span><%= message[i].minimum %></span>
              <span><%= message[i].maximum %></span>
              <span><%= message[i].pets %></span>
              <span><%= message[i].family %></span>
              <span><%= message[i].email %></span>
              <span><%= message[i].phone %></span>
            </li>
          </ul>
          <h5>? (ask if its worth it to have the time posted shown)</h5>
      </section>
      <p>
        <%= message[i].textArea %>
      </p>
      <% } %>
    </section>
  </section>
</body>

</html>